:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --text-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-bcgcolor: #2f303a;
  --staff-bcgcolor: #f5f4fa;
  --contact-footer: #ffffff99;
  --hover-focus-button: #188ce8;
  --icon-color: #afb1b8;
}

body {
  font-family: 'Roboto', Raleway, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------HEADER---------------------*/
.header {
  border-bottom: 1px solid #ececec;
}

.first {
}
.site-nav {
  display: flex;
  align-items: center;
}
.list-nav {
  display: flex;
  margin-left: 93px;
}

.navigation {
  display: block;
  text-decoration: none;
  position: relative;
}

.navigation::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link {
  display: block;
  text-decoration: none;
  position: relative;
}

.navigation-link::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover::after {
  transform: scaleX(1);
}

.site-nav .item + .item {
  margin-left: 40px;
}

.logo-accent {
  color: var(--accent-color);
}
.logo-black {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link_active {
  color: var(--accent-color);
}

.list-contact {
  display: flex;
  margin-left: auto;
}

.list-contact .item + .item {
  margin-left: 50px;
}

.contact-link {
  display: flex;
  font-weight: 500;
  font-size: 1.1;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
}

/* ----------------------MAIN-------------------- */
.main-screen {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/main-screen.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bgc-footer);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-screen__title {
  margin: 0px auto 30px auto;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.main-screen__button {
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  margin: auto;
  font-family: 'Roboto', Raleway, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px transparent;
  cursor: pointer;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-screen__button:hover,
.main-screen__button:focus {
  background-color: #188ce8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.benefits {
  padding-top: 94px;
}

.list-benefits {
  display: flex;
}

.list-benefits .item + .item {
  margin-left: 30px;
}

.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--staff-bcgcolor);
  height: 120px;
  margin-bottom: 30px;
}

.benefits-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits-subtitle {
  width: 270px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.71;
  color: var(--text-color);
}
.tasks {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-tasks {
  display: flex;
  justify-content: space-between;
  /* margin-left: -30px; */
}
.tasks-item {
  position: relative;
}

.item-above {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 0;
  width: 100%;
  height: 70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);

  background: rgba(47, 48, 58, 0.8);
}

.tasks-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.staff {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: var(--staff-bcgcolor);
}

.staff-title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-staff {
  display: flex;
  justify-content: space-between;
  /* margin-left: -30px; */
}

.staff-item {
  /* flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px; */

  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-couple {
  padding: 30px 0px;
}

.staff-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}

.staff-job {
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
}
.team-social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--text-white-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-heading {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-item + .client-item {
  margin-left: 30px;
}

.client-icon {
  fill: currentColor;
}

/* --------------Page Fotter-------------------- */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bcgcolor);
}

.contact {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  margin-right: 70px;
}

.list-address .item + .item {
  margin-top: 9px;
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-white-color);
}

.text-info {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;
}

.info {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;
}

.info:last-child {
  margin-bottom: 0px;
}

.page-footer .text-info:hover,
.page-footer .text-info:focus {
  color: var(--accent-color);
}

.page-footer .info:hover,
.page-footer .info:focus {
  color: var(--accent-color);
}

.social-network > .text {
  text-transform: uppercase;

  line-height: 1.14;
  color: var(--text-white-color);
  margin-bottom: 20px;
}

.network-list {
  display: flex;
}

.network-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;
}

.network-link:hover,
.network-link:focus {
  background-color: var(--accent-color);
}

.network-item + .network-item {
  margin-left: 10px;
}

/*--------------- Portfolio------------------ */

/*-------------------- MAIN------------------ */
.button-selector {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-button {
  display: block;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.list-button .item + .item {
  margin-left: 8px;
}

.button-selector-type {
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;
  font-family: 'Roboto', Raleway, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  background: var(--staff-bcgcolor);
  border-radius: 4px;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;
}

.button-selector-type:hover,
.button-selector-type:focus,
.button-selector-type:active {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}

.list-projects {
  display: flex;
  flex-wrap: wrap;
  /* list-style-type: none;
  margin-right: -30px;
  margin-bottom: -30px; */
  /* margin-bottom: 94px; */
}

.list-projects .item {
  display: block;
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  /* box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16); */
}

.portfolio-link {
  display: block;
  text-decoration: none;
  text-transform: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus,
.portfolio-link:active {
  display: block;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-projects .item:nth-child(3n) {
  margin-right: 0px;
}

.list-projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-wrap {
  position: relative;
  overflow: hidden;
}

.wrap-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  height: 100%;
  text-align: center;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-wrap:hover .wrap-text,
.projects-wrap:focus .wrap-text {
  transform: translateY(0);
}

.card {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-subtitle {
  margin: 0px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
  transform: scaleX(0.5), opasity 250ms;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
